<section id="new-payment">
  <%= live_component @socket, FormComponent, id: :form, changeset: @changeset %>
</section>

<section id="payments">
  <%= live_component @socket, PaymentsListComponent, id: :list, payments: @payments, checking: @checking %>
</section>
